@charset 'utf-8';
html{
	width: 100%;
	height: 100vh;
}
body{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: relative;
}

#my_dataviz{
		width: 100%;
		height: 100%;
}

#searchwindow{
	width: 70%;
	height: 10%;
	/* border: 1px solid #000; */
	background-color: #FB8C00;
	position: absolute;
	top: 60%;
	left: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
}
